{% extends "announcementsApp/root.html" %}

{% block body %}
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Start Bootstrap</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a aria-expanded="false" href="#" class="dropdown-toggle" data-toggle="dropdown" title="Our Collection of Templates &amp; Themes">Themes <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/template-categories/all"><i class="fa fa-globe fa-fw"></i> All Templates &amp; Themes</a>
                        </li>
                        <li>
                            <a href="/template-categories/popular"><i class="fa fa-star fa-fw"></i> Most Popular</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="http://startbootstrap.tumblr.com/" title="The Official Start Bootstrap Blog">Blog</a>
                </li>
                <li>
                    <a href="/help" title="Help with Start Bootstrap Templates &amp; Themes">Help</a>
                </li>
                <li>
                    <a href="/contact" title="Contact the Start Bootstrap Team">Contact</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                {% if user %}
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <!-- <i class="fa fa-star text-yellow"></i> -->
                        {{ user.username }}
                        <b class="caret"></b>
                    </a>
                {% endif %}
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">Profile</a>
                        </li>
                        <li>
                            <!-- <form action="logout" method="post">
                                <button type="button" name="logout" class="btn">Logout</button>
                            </form> -->
                            <a href="#">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            {% block container %}{% endblock %}
        </div>
    </div>
</div>

{% endblock %}
