{% extends "announcementsApp/container.html" %}

{% block head %}
{% load staticfiles %}
  <title>Detail</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="{% static 'announcementsApp/css/style.css' %}" />
  <script type="text/javascript" src="{% static 'announcementsApp/js/myscript.js' %}"></script> 
{% endblock %}

{% block container %}
    <h1>Current announcement and his comments</h1>

    <h2>Title : {{ announcement.announcement_title}}</h2>
    <p>{{ announcement.announcement_text }}</p>
    <hr>
    <hr>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'announcementsApp:vote' announcement.id %}" method="post">
    <!-- creating list of the comments -->
    {% csrf_token %}
    {% for comment in announcement.comment_set.all %}
        <input type="radio" name="comment" id="comment{{ forloop.counter }}" value="{{ comment.id }}" />
        <label for="comment{{ forloop.counter }}">{{ comment.comment_text }}</label><br />
    {% endfor %}
        <!-- <hr> -->
    <input type="submit" value="Vote" />
    </form>

    <!-- Making a comment -->
    <h3>Make a comment</h3>
    <form action="{% url 'announcementsApp:comment' announcement.id %}" method="post">
        {% csrf_token %}
        
        <textarea type="textarea" class="text_edit" id="comment" name="text"></textarea>
        <br />   

        <input type="submit" name="submit" value="Submit" class="btn btn-success" />
    </form>
    
    <p><a href="{% url 'announcementsApp:results' announcement.id %}">View results</a></p>
    <p><a href="{% url 'announcementsApp:index' %}">Go to recent announcements</a></p>

{% endblock %}