{% extends "container.html" %}

{% block head %}
  <title>Edit announcement</title>
{% endblock %}

{% block container %}
    <h1>Edit Current comment</h1>

    <p><b>Comment:</b> {{ comment.comment_text }}</p>
    
    <hr>

    <h3>Enter New Comment</h3>

    <form action="{% url 'announcementsApp:edit_comm' comment.id %}" method="post">
        {% csrf_token %}
        
        <p><input type="text" class="text" id="my_text" name="text" value="{{ comment.comment_text }}" required autofocus /></p>   
        
        <input type="submit" name="submit" value="Submit" class="btn btn-success" />
    </form>

    <p></p>
    <p><a href="{% url 'announcementsApp:index' %}">Go to recent announcements</a></p>

{% endblock %}

{% block scripts %}
{% load staticfiles %}
   <script type="text/javascript" src="{% static 'js/myscript.js' %}"></script> 
{% endblock %}
