{% block head %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'announcementsApp/css/style.css' %}" />
<head>
  <title>Full List</title>
  <meta charset="UTF-8">
</head>
<h1>Recent Announcements</h1>
{% endblock %}


{% block body %}
{% if latest_Announcement_list %}
    <ul>
    {% for announcement in latest_Announcement_list %}
        <li><a href="{% url 'announcementsApp:detail' announcement.id %}">{{ announcement.announcement_text }}</a></li>
        <hr>
    {% endfor %}
    </ul>
{% else %}
    <p>No announcements are available.</p>
{% endif %}
{% endblock %}
