{% extends "announcementsApp/container.html" %}

{% block head %}
{% load staticfiles %}
  <title>My announcements</title>
  <link rel="stylesheet" type="text/css" href="{% static 'announcementsApp/css/style.css' %}" />
{% endblock %}


{% block container %}
<h1>My Announcements</h1>
  
    <form action="{% url 'announcementsApp:deleteAnnouncement' %}" method="post">
        <!-- delete one of ur announcements -->
        {% csrf_token %}
        {% for announcement in latest_Announcement_list %}
            {% ifequal user announcement.owner %}
                <input type="radio" name="announcement" id="announcement{{ forloop.counter }}" value="{{ announcement.id }}" />
                <label for="announcement{{ forloop.counter }}">{{ announcement.announcement_title }}</label>
                <br/>
            {% endifequal %}    
        {% endfor %}

        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <input type="submit" name="delete" value="Delete announcement" class="btn btn-success" />
        <input type="submit" name="edit" value="Edit announcement" class="btn btn-success" />
    </form>

    <!-- Make new Announcement -->
    <h2>Create new announcement</h2>
    
    <h3>Enter Title</h3>

    <form action="{% url 'announcementsApp:announce'  %}" method="post">
        {% csrf_token %}
        <!-- Text area for Title-->
        <input type="text" class="text_title" id="my_text_title" name="title"/>
        <br />   
        
        <h3>Enter announcement</h3>

        <p><textarea type="textarea" class="text_edit" id="my_text" name="text"></textarea></p>

        <input type="submit" name="submit" value="Submit" class="btn btn-success" />
    </form>
    <br />
    <p><a href="{% url 'announcementsApp:myannouncements' %}">Refresh</a></p>
    <p><a href="{% url 'announcementsApp:index' %}">Go to recent announcements</a></p>
<!--
{% if latest_Announcement_list %}
{% else %}
    <p>You have not done any announcement yet.</p>
{% endif %}
-->
{% endblock %}
