{% extends "container.html" %}

{% block head %}
{% load staticfiles %}
    <title>Full List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/carousel.css' %}" />
{% endblock %}

{% block container %}


    <h2>No rate for player : "{{ player.first_name }} {{ player.last_name }}" yet!</h2>
    <br />

    <a class="btn btn-primary " href="{% url 'AthleticTeamApp:index_ranking' player.id %}">Make a rate</a>

{% endblock %}

{% block scripts %}

{% endblock %}