{% extends "container.html" %}

{% block head %}
{% load staticfiles %}
    <title>Full List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/carousel.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/nouislider/distribute/nouislider.min.css' %}" />
{% endblock %}

{% block container %}
    <h2>Ranking player : {{ player.first_name }} {{ player.last_name }}</h2>
    <br />
    <form action="{% url 'AthleticTeamApp:ranking' player.id %}" method="post">
        <!-- ranking -->
        {% csrf_token %}
        <div>
            <p>1. Power</p>
            <div>
                <div class="ranking-slider" style="width:200px"></div>
                <input type="number" name="power" class="ranking-slider-val" style="width:45px"></span>
            </div>
        </div>

        <hr>

        <div>
            <p>2. Speed</p>
            <div>
                <div class="ranking-slider" style="width:200px"></div>
                <input type="number" name="speed" class="ranking-slider-val" style="width:45px"></span>
            </div>
        </div>
        
        <br />

        <input type="submit" name="submit" value="Submit" class="btn btn-primary" />
    </form>

{% endblock %}

{% block scripts %}
    <script type="text/javascript"  src="{% static 'bower_components/nouislider/distribute/nouislider.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/myscript.js' %}"></script>
{% endblock %}