{% extends "container.html" %}

{% block head %}
    {% load staticfiles %}
    <title>Sponsors</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/carousel.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/sponsors.css' %}" />
{% endblock %}

{% block container %}
<h5> proudly supported by </h5>
    {% if sponsor_list %}
        <h1>our Sponsors:</h1>
        <ul>
        {% for sponsor in sponsor_list %}
            <li>
                <a href="{% url 'SponsorsApp:ShowSponsor' sponsor.id %}">
                    {{ sponsor.name }}
                </a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <h1>No Sponsor is available.</h1>
    {% endif %}
    <br>

    {% load filters %}
    {% if request.user|has_group:"Create Event" %}
        <a type="button" class="btn btn-default" aria-label="Create Sponsor" href="{% url 'SponsorsApp:CreateSponsor' %}">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create
        </a>
    {% endif %}
    
    <hr>
<h4>Για προσθήκη της εταιρίας σας στη λίστα με τους sponsors επικοινωνήστε με το τμήμα marketing μας myteamvolos@gmail.com</h4>
{% endblock %}
