{% extends "container.html" %}

{% block head %}
    {% load staticfiles %}
    <title>Sponsor: {{ sponsor.name }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/carousel.css' %}" />
{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-lg-12">
            <h1>
                Sponsor: {{ sponsor.name }}
                <a type="button" class="btn btn-default pull-right" aria-label="Create Sponsor" href="{% url 'SponsorsApp:EditSponsor' sponsor.id %}">
                  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
                </a>
            </h1>
            <br>
         <div class="col-md-0">
            <img src={{ sponsor.image.url }} class="img-rounded" height="100" width="100">
        </div>
            {% if sponsor.info %}
            <h2>{{ sponsor.info}}</h2>
            {% endif %}
        </div>
    </div>
    <hr>
{% endblock %}