h3 {
  color: #101010 ;
  
}

/*#n{
background-image: url(/static/b.png);
*/
.slideshow {
   position:relative;
height:350px;
width:350px;
margin:0 auto;
}

.growing img {
  height: 170px;
  width: 550px;*/
 
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.growing img:hover {
  width: 685px;
  height: 200px;
}