{% extends "container.html" %}

{% block head %}
    <title>Create Training</title>
{% endblock %}

{% block container %}

{% load filters %}
{% if request.user|has_group:"Coaching Staff Member" %}
    <div class="row">
        <div class="col-lg-12">
            <h1>
                Create Training
                <a type="button" class="btn btn-default pull-right" aria-label="Create Training" href="{% url 'AthleticTeamApp:ShowTrainings' %}">
                    <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span> Back
                </a>
            </h1>
            <br>
            {% include "training/_form.html" with submitName='Create' %}
        </div>
    </div>
    <hr>
{% else %}
    <h2>Not authorized</h2>
{% endif %}

{% endblock %}

{% block scripts %}
{% endblock %}