<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <script src="/static/js/snap.svg-min.js"></script>
        <style>
            svg {
                border:1px solid red;
            }
            svg text{
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
        </style>
    </head>
    <body>
        <div id="svg-container">
            <svg id="svg" width="800" height="500">
            </svg>
        </div>

        <button id="movePlayer" class="movePlayer">movePlayer</button>
        <button id="moveBall" class="moveBall">moveBall</button>
        <button id="drawPath" class="drawPath">drawPath</button>
        <button id="drawPass" class="drawPass">drawPass</button>
        <button id="deletePath" class="deletePath">deletePath</button>
        <button id="deletePass" class="deletePass">deletePass</button>
        <button id="doMoves" class="doMoves">doMoves</button>
        <button id="help" class="help">help</button>

        <script>
            var svgData;
            svgData = init();
            function init(){
                var svgData;
                var s = Snap('#svg');
                var svg = document.getElementById('svg');
                var r = 20;
                var numOfPlayers = 10;
                svgData = {//all variables about svg + s for snap object + some configData
                    's':s,
                    'svg' : svg,
                    'width' : svg.getAttribute('width'),
                    'height' : svg.getAttribute('height'),
                    'configData' : {
                        'r' : r,
                        'offColor' : 'blue',
                        'defColor' : 'red',
                        'numOfPlayers' : numOfPlayers
                    },
                    'players' : [],
                    'playerWithTheBall' : {},
                    'ball' : {},
                    'receiverOfTheBall' : null,
                    'pass' : null
                };
                var image = s.image('/static/images/basketball-court.png', 0, 0, svgData.width, svgData.height);
                image.drag(function(){});//disabling drag utility for the bg image
                svgData.players = createPlayers(svgData);
                svgData.ball = createBall(svgData);

                document.getElementById("movePlayer").onclick = function(){
                    changeMode(svgData,'movePlayer');
                };
                document.getElementById("moveBall").onclick = function(){
                    changeMode(svgData,'moveBall');
                };
                document.getElementById("drawPath").onclick = function(){
                    changeMode(svgData,'drawPath');
                };
                document.getElementById("drawPass").onclick = function(){
                    changeMode(svgData,'drawPass');
                };
                document.getElementById("deletePath").onclick = function(){
                    changeMode(svgData,'deletePath');
                };
                document.getElementById("deletePass").onclick = function(){
                    changeMode(svgData,'deletePass');
                };
                document.getElementById('doMoves').onclick = function(){
                    changeMode(svgData,'doMoves');
                };
                return svgData;
            }

            function createPlayers(svgData){
                var data, players = [];

                data = calcData(svgData);

                for(var i=0;i<svgData.configData.numOfPlayers;i++) {
                    players[i] = createPlayer(svgData, data[i]);
                    if(players[i].hasTheBall){
                        svgData.playerWithTheBall = players[i];
                    }
                }
                return players;
            }

            function createPlayer(svgData, data){
                var s,x, y, elem, text, g, r;

                s = svgData.s;
                r = svgData.configData.r;

                x = data.position.x;
                y = data.position.y;

                elem = s.circle(x,y,r);
                text = s.text(x-r/4,y+r/4,data.label);
                elem.attr({
                    'fill':data.color
                });
                g = s.g();
                g.add(elem,text);
                g.attr('id',data.id);

                return {
                    'color' : data.color,
                    'label' : data.label,
                    'elem' : elem,
                    'text' : text,
                    'g' : g,
                    'hasTheBall' : data.hasTheBall,
                    'move' : null
                };
            }

            function createBall(svgData){
                var ball, s, r, i;
                s = svgData.s;
                r = svgData.configData.r;
                var x;
                var y;

                for(i=0;i<svgData.configData.numOfPlayers;i++){
                    if( svgData.players[i].hasTheBall){
                        x = parseInt(svgData.players[i].elem.attr('cx')) + r/2;
                        y = parseInt(svgData.players[i].elem.attr('cy')) + r/2;
                        ball = s.circle(x,y,r/2);
                        ball.attr({
                            'fill': 'brown'
                        });
                    }
                }
                return ball;
            }

            function collidesWithPlayer(svgData, player, mouseX, mouseY){
                /* expects callee to calculate relative mouse position */
                var playerX = player.elem.attr('cx');
                var playerY = player.elem.attr('cy');
                var r = svgData.configData.r;
                var touchesBall = false;
                if(Math.abs(playerX - mouseX) <= r && Math.abs(playerY - mouseY) <= r){
                    touchesBall = true;
                }
                return touchesBall;
            }

            function calcData(svgData){
                var data = [], i;
                var numOfPlayers = svgData.configData.numOfPlayers;
                if(true){
                    for(i=0;i<numOfPlayers;i++){
                        data[i] = {
                            'id' : encodePlayerId(i),
                            'position' : getDefaultPosition(svgData, i),
                            'color' : getColor(svgData, i),
                            'label' : i%(numOfPlayers/2)+1,
                            'hasTheBall' : false
                        };
                        if(i===0){
                            data[i].hasTheBall = true;
                        }
                    }
                }
                else{

                }

                return data;
            }

            function decodePlayerId(id){
                var index;
                var pattern = /\d+/;
                index = id.match(pattern);
                return index;
            }

            function encodePlayerId(index){
                var id;
                id = 'svg-player-' + index;
                return id;
            }

            function getColor(svgData, index){
                if(index < 5){
                    return svgData.configData.offColor;
                }
                else{
                    return svgData.configData.defColor;
                }
            }

            function getDefaultPosition(svgData, index){
                var x, y, svg_width, r;
                svg_width = svgData.width;
                r = svgData.configData.r;
                y = r;

                if(index < 5){
                    x = 2 * r * index + r;
                }
                else {
                    x = svg_width - 2 * r * (index%5) - r;
                }
                return {'x':x,'y':y};
            }

            function enablePlayersMovement(svgData){
                var movePlayer = function(dx, dy, posx, posy, e) {
                    posx = posx - document.getElementById('svg-container').offsetLeft;
                    posy = posy - document.getElementById('svg-container').offsetTop;
                    var index;
                    var svg_width = svgData.width;
                    var svg_height = svgData.height;
                    var r = svgData.configData.r;
                    if(posx-r < 0 ){
                        posx = r;
                    }
                    if(posx+r > svg_width){
                        posx = svg_width-r;
                    }
                    if(posy-r < 0){
                        posy = r;
                    }
                    if(posy > svg_height){
                        posy = svg_height-r;
                    }
                    var elem = this.select('circle');
                    var text = this.select('text');
                    elem.attr({'cx': posx, 'cy':posy});
                    text.attr({'x':posx-r/4, 'y':posy+r/4});
                    index = decodePlayerId(this.attr('id'));
                    if(svgData.players[index].move) {
                        var pathData = svgData.players[index].move.elem.attr('d');
                        pathData = 'L' + pathData.substring(1,pathData.length);
                        pathData = 'M' + posx + ',' + posy + ' ' + pathData;
                        svgData.players[index].move.elem.attr('d', pathData);
                    }
                    if(svgData.players[index].hasTheBall){
                        var x = parseInt(posx) + r/2;
                        var y = parseInt(posy) + r/2;
                        svgData.ball.attr({'cx': x, 'cy':y});
                        if(svgData.pass){
                            svgData.pass.attr({'x1':x,'y1':y});
                        }
                    }
                    if(svgData.players[index] === svgData.receiverOfTheBall){
                        if(svgData.pass){
                            svgData.pass.attr({'x2':posx,'y2':posy});
                        }
                    }
                };
                var startMovePlayer = function(){
                    this.attr('cursor','move');
                };
                var endMovePlayer = function(){
                    this.attr('cursor','grab');
                };
                for(var i=0;i<svgData.configData.numOfPlayers;i++){
                    svgData.players[i].g.drag(movePlayer, startMovePlayer, endMovePlayer);
                    svgData.players[i].g.attr('cursor','grab');
                }
            }
            function disablePlayersMovement(svgData){
                for(var i=0;i<svgData.configData.numOfPlayers;i++){
                    svgData.players[i].g.undrag();
                    svgData.players[i].g.drag(function(){});
                    svgData.players[i].g.attr('cursor','default');
                }
            }
            function enableBallMovement(svgData){
                var startPosition;
                var moveBall = function(dx, dy, posx, posy, e) {
                    posx = posx - document.getElementById('svg-container').offsetLeft;
                    posy = posy - document.getElementById('svg-container').offsetTop;
                    var svg_width = svgData.width;
                    var svg_height = svgData.height;
                    var r = svgData.configData.r/2;
                    if(posx-r < 0 ){
                        posx = r;
                    }
                    if(posx+r > svg_width){
                        posx = svg_width-r;
                    }
                    if(posy-r < 0){
                        posy = r;
                    }
                    if(posy > svg_height){
                        posy = svg_height-r;
                    }
                    this.attr({'cx': posx, 'cy': posy});
                    svgData.pass.attr({'x1' : posx, 'y1' : posy});
                };
                var startMoveBall = function(){
                    startPosition = {'cx' : svgData.ball.attr('cx'), 'cy' : svgData.ball.attr('cy')};
                    this.attr('cursor','move');
                };
                var endMoveBall = function(e){
                    var posx = e.clientX - document.getElementById('svg-container').offsetLeft;
                    var posy = e.clientY - document.getElementById('svg-container').offsetTop;
                    var resetBall = true;
                    for(var i=0;i<svgData.configData.numOfPlayers;i++){
                        if(collidesWithPlayer(svgData, svgData.players[i], posx, posy)){
                            var r = svgData.configData.r;
                            var player = svgData.players[i];
                            var x = parseInt(player.elem.attr('cx')) + r/2;
                            var y = parseInt(player.elem.attr('cy')) + r/2;
                            this.attr({'cx' : x, 'cy' : y});
                            svgData.playerWithTheBall.hasTheBall = false;
                            player.hasTheBall = true;
                            svgData.playerWithTheBall = player;
                            if(svgData.pass){
                                if(svgData.playerWithTheBall === svgData.receiverOfTheBall ||
                                        svgData.playerWithTheBall.color !== svgData.receiverOfTheBall.color) {
                                    svgData.pass.remove();
                                    svgData.pass = null;
                                    svgData.receiverOfTheBall = null;
                                }
                                else{
                                    svgData.pass.attr({'x1' : x, 'y1' : y});
                                }
                            }
                            resetBall = false;
                            break;
                        }
                    }
                    if(resetBall){
                        this.attr(startPosition);
                        if(svgData.pass){
                            svgData.pass.attr({'x1' : startPosition.cx, 'y1' : startPosition.cy});
                        }
                    }
                    this.attr('cursor','grab');
                };
                svgData.ball.drag(moveBall, startMoveBall, endMoveBall);
                svgData.ball.attr('cursor','grab');
            }
            function disableBallMovement(svgData){
                svgData.ball.undrag();
                svgData.ball.drag(function(){});
                svgData.ball.attr('cursor','default');
            }
            function enableDrawingPath(svgData){
                var startPosition;
                var drawing = false;
                var playerMoving = null;
                var continueDrawingPath = function(e) {
                    var posx = e.clientX - document.getElementById('svg-container').offsetLeft;
                    var posy = e.clientY - document.getElementById('svg-container').offsetTop;
                    if(drawing){
                        var pathData = playerMoving.move.elem.attr("d");
                        pathData = pathData + " L" + posx + "," + posy;
                        playerMoving.move.elem.attr("d", pathData);
                        playerMoving.move.dest = {x : posx, y : posy};
                    }
                };
                var startDrawingPath = function(e){
                    var posx = e.clientX - document.getElementById('svg-container').offsetLeft;
                    var posy = e.clientY - document.getElementById('svg-container').offsetTop;
                    for(var i=0;i<svgData.configData.numOfPlayers;i++){
                        if(collidesWithPlayer(svgData, svgData.players[i], posx, posy)){
                            playerMoving = svgData.players[i];
                            if(playerMoving.move){
                                playerMoving.move.elem.remove();
                                playerMoving.move = null;
                            }
                            playerMoving.move = {
                                'elem' : null,
                                'dest' : null
                            };

                            startPosition = {'cx' : playerMoving.elem.attr('cx'), 'cy' : playerMoving.elem.attr('cy')};
                            this.attr('cursor','pointer');
                            playerMoving.move.elem = svgData.s.path('');
                            playerMoving.move.elem.attr("fill", "none");
                            playerMoving.move.elem.attr("stroke", playerMoving.color);
                            playerMoving.move.elem.attr("stroke-width", 2);
                            playerMoving.move.elem.attr("stroke-linecap", "round");
                            playerMoving.move.elem.attr("d", "M" + startPosition.cx  + "," + startPosition.cy);

                            var end = svgData.s.circle(0,0,2);
                            playerMoving.move.elem.attr('markerEnd', end.marker());
                            playerMoving.move.dest = {x : startPosition.cx, y : startPosition.cy};
                            drawing = true;
                        }
                    }
                };
                var endDrawingPath = function(e){
                    drawing = false;
                    this.attr('cursor','default');
                };
                svgData.s.mousedown(startDrawingPath);
                svgData.s.mousemove(continueDrawingPath);
                svgData.s.mouseup(endDrawingPath);
                for(var i=0;i<svgData.configData.numOfPlayers;i++){
                    svgData.players[i].g.attr('cursor','pointer');
                }

            }
            function disableDrawingPath(svgData){
                svgData.s.unmousedown();
                svgData.s.unmousemove();
                svgData.s.unmouseup();
                for(var i=0;i<svgData.configData.numOfPlayers;i++){
                    svgData.players[i].g.attr('cursor','default');
                }
            }
            function enableDrawingPass(svgData){
                var startPosition;
                var drawing = false;
                var continueDrawingPass = function(e) {
                    var posx = e.clientX - document.getElementById('svg-container').offsetLeft;
                    var posy = e.clientY - document.getElementById('svg-container').offsetTop;
                    if(drawing){
                        svgData.pass.attr({'x2' : posx, 'y2' : posy});
                    }
                };
                var startDrawingPass = function(e){
                    var posx = e.clientX - document.getElementById('svg-container').offsetLeft;
                    var posy = e.clientY - document.getElementById('svg-container').offsetTop;
                    if(collidesWithPlayer(svgData, svgData.playerWithTheBall, posx, posy)){
                        if(svgData.pass){
                            svgData.pass.remove();
                            svgData.pass = null;
                            svgData.receiverOfTheBall = null;
                        }
                        startPosition = {'cx' : svgData.playerWithTheBall.elem.attr('cx'), 'cy' : svgData.playerWithTheBall.elem.attr('cy')};
                        drawing = true;
                        this.attr('cursor','no-drop');
                        for(var i=0;i<svgData.configData.numOfPlayers; i++){
                            if(svgData.players[i].color === svgData.playerWithTheBall.color) {
                                svgData.players[i].g.attr('cursor', 'crosshair');
                            }
                            else{
                                svgData.players[i].g.attr('cursor', 'no-drop');
                            }
                        }
                        svgData.playerWithTheBall.g.attr('cursor','no-drop');
                        var r = svgData.configData.r;
                        var x = parseInt(startPosition.cx) + r/2;
                        var y = parseInt(startPosition.cy) + r/2;
                        svgData.pass = svgData.s.line(x,y,posx,posy);
                        svgData.pass.attr("stroke", 'brown');
                        svgData.pass.attr("stroke-width", 2);
                        svgData.pass.attr("stroke-linecap", "round");
                        svgData.pass.attr("stroke-dasharray", "10,10");
                    }
                };
                var endDrawingPass = function(e){
                    var i;
                    var posx = e.clientX - document.getElementById('svg-container').offsetLeft;
                    var posy = e.clientY - document.getElementById('svg-container').offsetTop;
                    if(drawing) {
                        var clearPass = true;
                        for (i = 0; i < svgData.configData.numOfPlayers; i++) {
                            if (svgData.playerWithTheBall !== svgData.players[i]) {
                                if(svgData.players[i].color === svgData.playerWithTheBall.color) {
                                    if (collidesWithPlayer(svgData, svgData.players[i], posx, posy)) {
                                        svgData.pass.attr({'x2' : svgData.players[i].elem.attr('cx'), 'y2' : svgData.players[i].elem.attr('cy')});
                                        svgData.receiverOfTheBall = svgData.players[i];
                                        clearPass = false;
                                        break;
                                    }
                                }
                            }
                        }
                        if (clearPass) {
                            svgData.pass.remove();
                            svgData.pass = null;
                            svgData.receiverOfTheBall = null;
                        }
                        for(i=0;i<svgData.configData.numOfPlayers; i++){
                            svgData.players[i].g.attr('cursor', 'default');
                        }
                        svgData.playerWithTheBall.g.attr('cursor','pointer');
                        this.attr('cursor','default');
                    }
                    drawing = false;
                };
                svgData.s.mousedown(startDrawingPass);
                svgData.s.mousemove(continueDrawingPass);
                svgData.s.mouseup(endDrawingPass);
                svgData.playerWithTheBall.g.attr('cursor','pointer');
            }
            function disableDrawingPass(svgData){
                svgData.s.unmousedown();
                svgData.s.unmousemove();
                svgData.s.unmouseup();
                svgData.playerWithTheBall.g.attr('cursor','default');
            }
            function enableDeletePath(svgData){
                for(var i=0;i<svgData.configData.numOfPlayers;i++){
                    if(svgData.players[i].move){
                        svgData.players[i].g.attr('cursor','crosshair');
                        svgData.players[i].move.elem.attr('cursor','crosshair');
                        svgData.players[i].g.click(function(index){
                            return function(){
                                if(svgData.players[index].move){
                                    svgData.players[index].g.attr('cursor','default');
                                    svgData.players[index].move.elem.attr('cursor','default');
                                    svgData.players[index].move.elem.remove();
                                    svgData.players[index].move = null;
                                }
                            };
                        }(i));
                        svgData.players[i].move.elem.click(function(index){
                            return function(){
                                if(svgData.players[index].move){
                                    svgData.players[index].g.attr('cursor','default');
                                    svgData.players[index].move.elem.attr('cursor','default');
                                    svgData.players[index].move.elem.remove();
                                    svgData.players[index].move = null;
                                }
                            };
                        }(i));
                    }
                }
            }
            function disableDeletePath(svgData){
                for(var i=0;i<svgData.configData.numOfPlayers;i++){
                    if(svgData.players[i].move){
                        svgData.players[i].g.attr('cursor','default');
                        svgData.players[i].move.elem.attr('cursor','default');
                        svgData.players[i].g.unclick();
                        svgData.players[i].move.elem.unclick();
                    }
                }
            }
            function enableDeletePass(svgData){
                if(svgData.pass){
                    var clearPass = function(){
                        if(svgData.pass){
                            svgData.receiverOfTheBall.g.attr('cursor', 'default');
                            svgData.playerWithTheBall.g.attr('cursor', 'default');
                            svgData.ball.attr('cursor', 'default');
                            svgData.pass.remove();
                            svgData.pass = null;
                            svgData.receiverOfTheBall = null;
                        }
                    };
                    svgData.pass.click(clearPass);
                    svgData.playerWithTheBall.g.click(clearPass);
                    svgData.ball.click(clearPass);
                    svgData.receiverOfTheBall.g.click(clearPass);
                    svgData.pass.attr('cursor', 'crosshair');
                    svgData.playerWithTheBall.g.attr('cursor', 'crosshair');
                    svgData.ball.attr('cursor', 'crosshair');
                    svgData.receiverOfTheBall.g.attr('cursor', 'crosshair');
                }
            }
            function disableDeletePass(svgData){
                if(svgData.pass){
                    svgData.pass.unclick();
                    svgData.receiverOfTheBall.g.unclick();
                    svgData.pass.attr('cursor', 'default');
                    svgData.receiverOfTheBall.g.attr('cursor', 'default');
                }
                svgData.playerWithTheBall.g.unclick();
                svgData.ball.unclick();
                svgData.playerWithTheBall.g.attr('cursor', 'default');
                svgData.ball.attr('cursor', 'default');
            }
            function changeMode(svgData, mode){
                switch(mode){
                    case 'movePlayer':
                        resetMoves(svgData);
                        disableBallMovement(svgData);
                        disableDrawingPath(svgData);
                        disableDrawingPass(svgData);
                        disableDeletePath(svgData);
                        disableDeletePass(svgData);
                        enablePlayersMovement(svgData);
                        break;
                    case 'moveBall':
                        resetMoves(svgData);
                        disablePlayersMovement(svgData);
                        disableDrawingPath(svgData);
                        disableDrawingPass(svgData);
                        disableDeletePath(svgData);
                        disableDeletePass(svgData);
                        enableBallMovement(svgData);
                        break;
                    case 'drawPath':
                        resetMoves(svgData);
                        disablePlayersMovement(svgData);
                        disableBallMovement(svgData);
                        disableDrawingPass(svgData);
                        disableDeletePath(svgData);
                        disableDeletePass(svgData);
                        enableDrawingPath(svgData);
                        break;
                    case 'drawPass':
                        resetMoves(svgData);
                        disablePlayersMovement(svgData);
                        disableBallMovement(svgData);
                        disableDrawingPath(svgData);
                        disableDeletePath(svgData);
                        disableDeletePass(svgData);
                        enableDrawingPass(svgData);
                        break;
                    case 'deletePath':
                        resetMoves(svgData);
                        disablePlayersMovement(svgData);
                        disableBallMovement(svgData);
                        disableDrawingPath(svgData);
                        disableDrawingPass(svgData);
                        disableDeletePass(svgData);
                        enableDeletePath(svgData);
                        break;
                    case 'deletePass':
                        resetMoves(svgData);
                        disablePlayersMovement(svgData);
                        disableBallMovement(svgData);
                        disableDrawingPath(svgData);
                        disableDrawingPass(svgData);
                        disableDeletePath(svgData);
                        enableDeletePass(svgData);
                        break;
                    case 'doMoves':
                        resetMoves(svgData);
                        disablePlayersMovement(svgData);
                        disableBallMovement(svgData);
                        disableDrawingPath(svgData);
                        disableDrawingPass(svgData);
                        disableDeletePath(svgData);
                        disableDeletePass(svgData);
                        doMoves(svgData);
                        break;
                    default:/* idle */
                        resetMoves(svgData);
                        disablePlayersMovement(svgData);
                        disableBallMovement(svgData);
                        disableDrawingPath(svgData);
                        disableDrawingPass(svgData);
                        disableDeletePath(svgData);
                        disableDeletePass(svgData);
                }
            }
            function doMoves(svgData){
                var x, y, r;
                var movePlayers = function(){
                    for(var i=0;i<svgData.configData.numOfPlayers;i++){
                        if(svgData.players[i].move){
                            var len = svgData.players[i].move.elem.getTotalLength();
                            svgData.players[i].move.elem.attr('display', 'none');
                            setTimeout( function(len,i){
                                return function() {
                                    Snap.animate(0, len, function(value) {
                                        var x, y;
                                        var player = svgData.players[i];
                                        var r = svgData.configData.r;
                                        var movePoint = player.move.elem.getPointAtLength(value);
                                        player.elem.attr({ cx: movePoint.x, cy: movePoint.y });
                                        player.text.attr({'x':movePoint.x-r/4, 'y':movePoint.y+r/4});
                                        if(svgData.pass) {
                                            if(player === svgData.receiverOfTheBall) {
                                                x = movePoint.x + r / 2;
                                                y = movePoint.y + r / 2;
                                                svgData.ball.attr({'cx': x, 'cy': y});
                                            }
                                        }
                                        else{
                                            if(player.hasTheBall){
                                                x = movePoint.x + r / 2;
                                                y = movePoint.y + r / 2;
                                                svgData.ball.attr({'cx': x, 'cy': y});
                                            }
                                        }
                                    }, 2000);
                                }
                            }(len,i));
                        }

                    }
                };
                if(svgData.pass){
                    svgData.pass.attr('display', 'none');
                    r = svgData.configData.r;
                    x = parseInt(svgData.receiverOfTheBall.elem.attr('cx')) + r / 2;
                    y = parseInt(svgData.receiverOfTheBall.elem.attr('cy')) + r / 2;
                    svgData.ball.animate(
                            {
                                'cx' : x,
                                'cy' : y
                            },
                            500,
                            mina.linear,
                            movePlayers
                    );
                }
                else{
                    movePlayers();
                }
            }

            function resetMoves(svgData){
                var r = svgData.configData.r;
                for(var i=0;i<svgData.configData.numOfPlayers;i++){
                    if(svgData.players[i].move){
                        var movePoint = svgData.players[i].move.elem.getPointAtLength(0);
                        svgData.players[i].elem.attr({ cx: movePoint.x, cy: movePoint.y });
                        svgData.players[i].text.attr({'x':movePoint.x-r/4, 'y':movePoint.y+r/4});
                        svgData.players[i].move.elem.attr('display', '');
                    }
                }
                var x = parseInt(svgData.playerWithTheBall.elem.attr('cx')) + r / 2;
                var y = parseInt(svgData.playerWithTheBall.elem.attr('cy')) + r / 2;
                svgData.ball.attr({'cx' : x, 'cy' : y});
                if(svgData.pass){
                    svgData.pass.attr('display', '');
                }

            }
        </script>
</body>
</html>
