{% extends "container.html" %}

{% block head %}
{% load staticfiles %}
    <title>Join Events</title>
{% endblock %}

{% block container %}
  <h2>Available Events</h2>

  <form action="{% url 'AthleticTeamApp:join_event' %}" method="post">
      {% csrf_token %}
      {% if events_list %}
	<select  name="events" id="events" size ="20">
	  {% for event in events_list %}
	      {% if event.creator == user %}
		<option value="{{ event.id }}"> 
		    {{event.title}}
		</option>
	      {% endif%}
	    {% endfor %}    
	</select>    
      {% else %}
	  <p>No events yet.</p>
      {% endif %}
      
      {% for aek in event.participants_set.all %}
	{{aek.username}}
      {% endfor %}
   <input type="hidden" name="user" value= {{user}} />
  <td class='tdinput'><input size = 2 type="submit" name="submit" value="Add" class="btn btn-success"/>
   </form> 
{% endblock %}