{% extends "container.html" %}

{% block head %}
{% load staticfiles %}
    <title>All Events</title>
{% endblock %}

{% block container %}
    <h2>Events</h2>

    {% if events_list %}
        <ul>
        {% for event in events_list %}
            <li><a href="{% url 'AthleticTeamApp:ShowEvent' event.id %}">{{ event.title}}</a></li>
        {% endfor %}
        </ul>
        
        {# .... **Now the pagination section** .... #}
        {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
    {% else %}
        <p>No events yet.</p>
    {% endif %}
    
    {% load filters %}
    {% if request.user|has_group:"Match Creator" %}
        <br>
            <a type="button" class="btn btn-default" aria-label="Create Event" href="{% url 'AthleticTeamApp:create_event' %}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create
            </a>
        <hr>
    {% endif %}
    <p>Added filter Match Creator</p>
{% endblock %}
