{% extends "container.html" %}

{% block head %}
{% load staticfiles %}
    <title>My Events</title>
{% endblock %}

{% block container %}
  <h2>My Events as Participant</h2>

  {% if events_list %}
    <ul>
    {% for event in events_list %}
      {% for xristi  in event.participants.all %}
        {% if user == xristi %}
          <li><a href="{% url 'AthleticTeamApp:ShowEvent' event.id %}">{{ event.title}}</a></li>
        {% endif %}
      {% endfor %}
    {% endfor %}
    </ul>
    <br />
  {% else %}
      <p>No events yet.</p>
  {% endif %}

  {% load filters %}
  {% if request.user|has_group:"Create Event" %}
    <h2>Created Events</h2>

    {% if events_list %}
      <ul>
        {% for event in events_list %}
          {% if user == event.creator %}
            <li><a href="{% url 'AthleticTeamApp:ShowEvent' event.id %}">{{ event.title}}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    {% else %}
        <p>No events yet.</p>
    {% endif %}
  {% endif %}
      <form action="{% url 'AthleticTeamApp:LeaveEvents' %}" method="get">
        {% csrf_token %}
        <td class='tdinput'><input size = 2 type="submit" name="submit" value="Leave from an event" class="btn btn-primary"/>
    </form>
  
    {% load filters %}
  {% if request.user|has_group:"Create Event" %}
    <div class="margin-top-small">
        <a class="btn btn-primary " href="{% url 'AthleticTeamApp:create_event' %}">Create Event</a>
        <a class="btn btn-primary " href="{% url 'AthleticTeamApp:delete_event' %}">Delete Event</a>
        </br></br></br>
        <h2>Choose an Event To Edit</h2>
        <form action="{% url 'AthleticTeamApp:edit_event' %}" method="post">
        {% csrf_token %}
        {% if events_list %}
        <select  name="events"  required autofocus>
            {% for event in events_list %}
                {% if event.creator == user %}
                    <option value="{{ event.id }}"> 
                        {{event.title}} 
                {% endif%}
            {% endfor %}    
        </select>
        </br></br>
        
         <input type="submit" name="edit" value="Edit Event" class="btn btn-success" />
    </div>
    </form>
    {% endif %}
  {% endif %}
{% endblock %}