{% extends "container.html" %}

{% block head %}
{% load staticfiles %}
<title>Home</title>
{% endblock %}


{% block container %}
  <!-- test Grid -->
  <div class="container-fluid">
    <h1>Information Sports Team System</h1>
    <div class="row">
      <div class="col-sm-3 col-md-6 col-lg-8" >
          <!-- MATCHES PAGING -->
          <h3>Latest Matches Results</h3>

          {% if matches_list %}
            <ul>
            {% for match in matches_list %}
                {% load filters %}
                {% if match.home_away|str_equal:"Team A" %}
                    <li><a href="{% url 'AthleticTeamApp:ShowMatch' match.id %}">{{ match.home_team }} Vs {{ match.away_team }}</a></li>
                {% else %}
                    <li><a href="{% url 'AthleticTeamApp:ShowMatch' match.id %}">{{ match.away_team }} Vs {{ match.home_team }}</a></li>
                {% endif %}
            {% endfor %}
            </ul>

            {# .... **Now the pagination section** .... #}
            {% if is_paginated %}
                <div class="pagination">
                    <span class="page-links">
                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}
                        <span class="page-current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                        {% endif %}
                    </span>
                </div>
            {% endif %}
          {% else %}
              <p>No Matches added yet!</p>
          {% endif %}
      </div>
    </div>
  </div>


  <br/>
  <!-- Carousel
  ================================================== -->
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img class="first-slide" src="{% static 'home/images/Danbo_March_Wallpaper__by_gloeckchen.jpg' %}" alt="First slide">
        <div class="container">
          <div class="carousel-caption">
            <h1>Our team, enjoy!</h1>
            <p>Current Stadium, players, more++</p>
            <p><a class="btn btn-lg btn-primary" href="/teams" role="button">Observe our Teams and Players!</a></p>
          </div>
        </div>
      </div>
      <div class="item">
        <img class="second-slide" src="{% static 'home/images/EXP00047-1680.jpg' %}" alt="Second slide">
        <div class="container">
          <div class="carousel-caption">
            <h1>Backstory of our Team</h1>
            <p>Proud for our history</p>
            <p><a class="btn btn-lg btn-primary" href="/pages/history" role="button">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="item">
        <img class="third-slide" src="{% static 'home/images/2560x1440 HDTV.jpg' %}" alt="Third slide">
        <div class="container">
          <div class="carousel-caption">
            <h1>One more for good measure.</h1>
            <p>System for our team, better communication, efficient, worthy. Watch your investments</p>
            {% if user.is_authenticated %}
              <p><a class="btn btn-lg btn-primary" href="/announcements/" role="button">Recent Announcements</a></p>
              <p><a class="btn btn-lg btn-primary" href="/sponsors" role="button">Sponsors</a></p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div><!-- /.carousel -->
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'js/myscript.js' %}"></script>
{% endblock %}