{% extends "home/container.html" %}

{% block head %}
{% load staticfiles %}
<title>Home</title>
<link rel="stylesheet" type="text/css" href="{% static 'home/css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'home/css/carousel.css' %}" />
{% endblock %}


{% block container %}
    <p>Enter new password<p>
    <!--form-->   
    <p><textarea type="textarea" class="text" id="text_a" name="text_a"></textarea></p>

    <!--input type="submit" name="submit" value="Submit" class="btn btn-success" /-->

    <p>Re-enter new password<p>
    <p><textarea type="textarea" class="text" id="text_b" name="text_b"></textarea></p>


    <button class="btn btn-primary" type="submit" id="change_pass">Submit</button>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript"  src="{% static 'home/js/myscript.js' %}"></script>
{% endblock %}
