{% extends "container.html" %}

{% block head %}
{% load staticfiles %}
<title>Home</title>
{% endblock %}


{% block container %}
    <!-- CHANGING PASSWORD -->
    <form action="{% url 'AthleticTeamApp:change_pass_def' %}" method="post">
        {% csrf_token %}
        <p>Enter new password<p>
        <p><input type="password" class="form-control" id="my_text" name="text_a" placeholder="Password" required name="password" /></p>   
        
        <p>Re-enter new password<p>
        <p><input type="password" class="form-control" id="my_text" name="text_b" placeholder="Password" required name="password" /></p>

        <input type="submit" name="submit" value="Submit" class="btn btn-primary" />
    </form>

    {% if messages %}
    <div class="span12">
    {% for message in messages|slice:":1" %}
        <div class="alert alert-{{ message.tags }}">
            {{ message|safe }}
        </div>
    {% endfor %}
    </div>
    {% endif %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript"  src="{% static 'js/myscript.js' %}"></script>
{% endblock %}
