{% extends "container.html" %}

 <!-- Custom styles for this template -->
{% block head %}
{% load staticfiles %}
<title>Contact</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/carousel.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'home/css/contact.css' %}" />
{% endblock %}


{% block container %}
<h1>Contact</h1>
<form role="form" action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" id="btnkt">Submit</button>
</form>
{% endblock %}