{% extends "container.html" %}

 <!-- Custom styles for this template -->
{% block head %}
{% load staticfiles %}
<title>Contact</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/carousel.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'home/css/contact.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'home/css/social.css' %}" />
{% endblock %}


{% block container %}
<h1>Contact</h1>
<link href='http://fonts.googleapis.com/css?family=Raleway:400,200' rel='stylesheet' type='text/css'> 
  
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<nav class="social">
          <ul>
              <li><a href="https://twitter.com/Bucks">Twitter <i class="fa fa-twitter"></i></a></li>
              <li><a href="https://el-gr.facebook.com/PAOKBasketballClub/">Facebook <i class="fa fa-facebook"></i></a></li>
              <li><a href="http://dribbble.com/gian_michelle">Dribbble <i class="fa fa-dribbble"></i></a></li>
              <li><a href="http://behance.net">Behance <i class="fa fa-behance"></i></a></li>
              
          </ul>
      </nav>
        
<form role="form" action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" id="btnkt">Submit</button>
</form>
{% endblock %}
