{% extends "container.html" %}

{% block head %}
{% load staticfiles %}
<title>facilities page</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/carousel.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}" />
{% endblock %}




{% block container %}
<h2>Facilities</h2>
<h3>These are our facilities </h3> 
<p>
<p align="center">{{ data.info }}</p>
</p>
<div class="image" align="bottom">
   
   </div>
<div align="center" class="category">
        <img src="{% static "SinglePagesApp/rooms.jpg" %}" alt="My image"/>  <img src="{% static "SinglePagesApp/b.jpg" %}" alt="My image"/>
    <p>changerooms3</p>
        <img src="{% static "SinglePagesApp/d.jpg" %}" alt="My image"/>
    <p>rooms4</p><img src="{% static "SinglePagesApp/c.jpg" %}" alt="My image"/>
        </div>
        <div align="center" class="category">
        
{% load filters %}
    {% if request.user|has_group:"Coaching Staff Member" %}
        <br>
        <a type="button" class="btn btn-default" aria-label="Create facilities" href="{% url 'SinglePagesApp:edit_facilities' %}">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create facilities
        </a>
    {% endif %}
        
{% endblock %}
