{% extends "container.html" %}

 <!-- Custom styles for this template -->
{% block head %}
{% load staticfiles %}
<title>sponsorships page</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/carousel.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'home/css/contact.css' %}" />
{% endblock %}


{% block container %}
<h2>Sponsorships</h2>
    
    <ul>
    {% for key, value in data.items %}
      <li>{{key}} - {{value}}</li>
     {% endfor %}
    </ul>

{% endblock %}