{% extends "container.html" %}

{% block head %}
{% load staticfiles %}
<title>tickets page</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/carousel.css' %}" />
{% endblock %}

{% block container %}

<h2> Tickets available now!!</h2>
<ul>
{% for key, value in data.items %}
  <li>{{key}} - {{value}}</li>
{% endfor %}
</ul>

{% load filters %}
    {% if request.user|has_group:"Coaching Staff Member" %}
        <br>
        <a type="button" class="btn btn-default" aria-label="Create Tickets" href="{% url 'SinglePagesApp:edit_tickets' %}">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create Tickets
        </a>
        <hr>
    {% endif %}

<button class="btn btn-lg btn-primary" name="sp" id="facilities" type="submit" >Check our facilities</button>

<button class="btn btn-lg btn-primary" name="sp" id="sponsors" type="submit" >Check the Sponsors of our Team </button>

{% endblock %}

{% block scripts %}
    <script type="text/javascript"  src="{% static 'js/myscript.js' %}"></script>
{% endblock %}
