{% extends "base.html" %}
{% load i18n %}

{% block main %}
<h1>{{ object }}</h1>
<div style="float:left; padding: 0; height="500" width="1000"">
     <table class="table table table-hover" >
            <tr>
             <div class="row top-buffer" >
		 <td><div class="col-md-0">{% trans "DateTime" %}</div></td>
                 <td><div class="col-md-1">{{ object.start }}</div></td>
            </tr>
             <tr>
             <div class="row top-buffer">
		 <td><div class="col-md-0">{% trans "Category" %} </div></td>
                 <td><div class="col-md-1">{{ object.category }}</div></td>
            </tr>
             <tr>
             <div class="row top-buffer">
		 <td><div class="col-md-0">{% trans "Stadium" %}</div></td>
                 <td><div class="col-md-1">{{ object.description }}</div></td>
            </tr>
    </table>
    </div>

{% endblock %}