{% extends "container.html" %}

{% block head %}
{% load staticfiles %}
    <title>ShowAll</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/carousel.css' %}" />
{% endblock %}

{% block container %}
<h2>Teams</h2>
{% if team_players_list%}
    <ul>
    {% for team in team_players_list %}
        <li><a href="{% url 'AthleticTeamApp:ShowTeam' team.id %}">{{ team.team_name}}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No teams are available.</p>
{% endif %}
{% endblock%}