{% extends "container.html" %}

{% block head %}
    <title>Show All Teams</title>
{% endblock %}

{% block container %}
  <h2>Teams</h2>
    <table class="table table table-hover">
    <tr>
    <p> Select a team for more informations </p>
    <div class="row top-buffer">
      <td><div class="col-md-0">Team Emblem</div></td>
      <td><div class="col-md-1">Name</div></td>
      <td><div class="col-md-2">Category</div></td>
      </tr>
  {% if team_players_list%}
      {% for team in team_players_list %}
        <tr>
        <div class="row top-buffer">
    <td><div class="col-md-0"><img src={{ team.image.url }} class="img-rounded" height="100" width="100"></div></td>
          <td><div class="col-md-1"> <a href="{% url 'AthleticTeamApp:ShowTeam' team.id %}">{{ team.team_name}}</a></div></td>
    <td><div class="col-md-2">No category yet</div></td>
        </div>
        </tr>
      {% endfor %}
      </table>
  {% else %}
      <p>No teams.</p>
  {% endif %}
      
  {% load filters %}
    {% if request.user|has_group:"Match Creator" %}
        <form action="{% url 'AthleticTeamApp:edit_team'  %}" method="get">
                {% csrf_token %}   
                <input type="submit" name="submit" value="Edit/Create Team" class="btn btn-success" />
        </form>
    {% endif %}
{% endblock %}
