{% extends "container.html" %}

{% block head %}
{% load staticfiles %}
    <title>ShowAll</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/carousel.css' %}" />
{% endblock %}

{% block container %}
<h2>Teams</h2>
{% if team_players_list%}
    <ul>
    {% for team in team_players_list %}
        <li><a href="{% url 'AthleticTeamApp:ShowTeam' team.id %}">{{ team.team_name}}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No players are available.</p>
{% endif %}
<form action="{% url 'AthleticTeamApp:edit_team'  %}" method="get">
        {% csrf_token %}   
        <input type="submit" name="submit" value="Edit/Create Team" class="btn btn-success" />
    </form>  
{% endblock %}
