{% extends "container.html" %}
{% block head %}
{% load staticfiles %}
    <title>Show</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/carousel.css' %}" />
{% endblock %}

{% block container %}
<ul>
{% for player in team.player_set.all %}
{#  {% if player %}#}
    <li><a href="{% url 'AthleticTeamApp:ShowPlayer' player.id %}">{{ player.first_name }} => {{ player.last_name }}</li>
{#  {% endif %}#}
{% endfor %}
</ul>  
{% endblock %}