{% extends "container.html" %}

{% block head %}
{% load staticfiles %}
    <title>Show Team</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/carousel.css' %}" />
{% endblock %}

{% block container %}
<h2>Players in {{ team.team_name }}</h2>
{% if team.player_set.all %}
	<ul>
	{% for player in team.player_set.all %}
	    <li><a href="{% url 'AthleticTeamApp:ShowPlayer' player.id %}">{{ player.first_name }} {{ player.last_name }}</a></li>
	{% endfor %}
	</ul>
{% else %}
    <p>No players are available.</p>
{% endif %}

{% endblock %}