{% extends "root.html" %}

{% block body %}
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/home/">Home</a>
            {% if user.is_authenticated %}
                <a class="navbar-brand" href="/announcements/">Announcements</a>
            {% endif %}
            <a class="navbar-brand" href="/teams">Teams</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/players" title="Rank a player">All Players</a>
                </li>
                <li>
                    <a href="/about" title="Help with Start Bootstrap Templates &amp; Themes">About Us</a>
                </li>
                <li>
                    <a href="#" title="Contact the Start Bootstrap Team">Contact</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                {% if user.is_authenticated %}
                    <a href="#" class="dropdown-toggle glyphicon glyphicon-user" data-toggle="dropdown">
                        {{ user.username }}
                        <b class="caret"></b>
                    </a>
                {% else %}
                    <a href="#" class="dropdown-toggle glyphicon glyphicon-user" data-toggle="dropdown">
                        Guest
                        <b class="caret"></b>
                    </a>
                {% endif %}
                    <ul class="dropdown-menu btn-info">
                        <!--Profile info-->
                        {% if user.is_authenticated %}
                            <li>
                                <form action="{% url 'AthleticTeamApp:profile' %}"  method="get">
                                    {% csrf_token %}
                                    <input type="submit" name="profile" value="Profile" class="btn btn-primary btn-block" />
                                </form>
                            </li>
                        {% endif %}
                        <!--Logout-->
                        <li>
                            <form action="{% url 'AthleticTeamApp:logout' %}"  method="post">
                                {% csrf_token %}
                                <input type="submit" name="logout" value="Logout" class="btn btn-primary btn-block" />
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            {% block container %}{% endblock %}
        </div>
    </div>
</div>

{% endblock %}
