<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/carousel.css' %}" />
    {% block head %}{% endblock %}
</head>
<body>
    <div id="page-container">
    {% block body %}{% endblock %}
    </div>

    <!-- Footer -->
    <footer id="page-footer">
        <div class="container">
            <p>By us <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License v2.0</a>
        </div>
    </footer>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    {% load staticfiles %}
    <script type="text/javascript" src="{% static 'js/jquery.timepicker.js' %}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>