<div class="row">
    {% for field in form %}
        {{ field.errors }}
    {% endfor %}

    <form hidden action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input id="send-form" type="submit" value="Save" />
    </form>

    <div class="form-group">
        <label for="team-play-name">Name:</label>
        <input id="team-play-name" maxlength="30" name="name" type="text" value="{{ teamplay.name }}" required autofocus />
    </div>
    <br>
    <div id="svg-container">
        <svg id="svg" width="800" height="500">
        </svg>
    </div>
    <div class="col-lg-8">
        <div class="btn-group" role="group">
            <button id="prevIter" class="prevIter btn btn-primary">Previous</button>
            <button id="nextIter" class="nextIter btn btn-primary">Next</button>
        </div>
        {% include "team_play/_help.html" with mode='edit' %}
    </div>
    <div class="col-lg-8">
        <div class="btn-group" role="group">
            <button id="movePlayer" class="movePlayer btn btn-primary">Move Player</button>
            <button id="moveBall" class="moveBall btn btn-primary">Move Ball</button>
            <button id="drawPath" class="drawPath btn btn-primary">Draw Player's Path</button>
            <button id="drawPass" class="drawPass btn btn-primary">Draw Pass</button>
            <button id="deletePath" class="deletePath btn btn-primary">Delete Player's Path</button>
            <button id="deletePass" class="deletePass btn btn-primary">Delete Pass</button>
        </div>
        <button id="save" class="save btn btn-success pull-right">Save</button>
    </div>
    {% if teamplay %}
    <div class="col-lg-8">
        {% include "team_play/_delete.html" %}
    </div>
    {% endif %}
</div>