{% extends "container.html" %}

{% block head %}
{% load staticfiles %}
    <title>Team Play: {{ teamplay.name }}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'team_system/css/style.css' %}" />
    <script type="text/javascript" src="{% static 'team_system/js/team_play_gui.js' %}"></script>
    <script src="{% static 'team_system/js/snap.svg-min.js' %}"></script>
{% endblock %}

{% block container %}
    <h2>Team Play: {{ teamplay.name }}</h2>
    <br>

    <div id="svg-container">
        <svg id="svg" width="800" height="500">
        </svg>
    </div>

    <button id="prevIter" class="prevIter">prevIter</button>
    <button id="nextIter" class="nextIter">nextIter</button>
    <br>
    <button id="help" class="help">help</button>
{% endblock %}

{% block scripts %}
    <script>
        window.onload = function(){
            var data = {{ teamplay.data|safe }};
            init(data);
        };
    </script>
{% endblock %}