{% extends "container.html" %}
{% block container %}
{% if coachingstaffmember_list %}
    <ul>
    {% for coachingstaffmember in coachingstaffmember_list %}
        <li>
            <a href="{% url 'AthleticTeamApp:ShowCoachingStaffMember' coachingstaffmember.id %}">
                {{ coachingstaffmember.last_name }} {{ coachingstaffmember.first_name }}
            </a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Coaching Staff Members available.</p>
{% endif %}
{% endblock %}
