{% extends "container.html" %}

{% block head %}
    {% load staticfiles %}
    <title>Administration</title>
{% endblock %}

{% block container %}
    {% if administration_list %}
        <h1>Administration:</h1>
        <ul>
        {% for administration in administration_list %}
            <li>
                <a href="{% url 'AdministrationApp:ShowAdministration' administration.id %}">
                    {{ administration.last_name }}
                </a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <h1>No Administration is available.</h1>
    {% endif %}

    {% load filters %}
    {% if request.user|has_group:"Match Creator" %}
        <br>
        <a type="button" class="btn btn-default" aria-label="Create Administration" href="{% url 'AdministrationApp:CreateAdministration' %}">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create
        </a>
        <hr>
    {% endif %}
    
    <button class="btn btn-lg btn-primary" name="dev" id="developers" type="submit">Learn about the developers of this page!</button>
{% endblock %}

{% block scripts %}
    <script type="text/javascript"  src="{% static 'js/myscript.js' %}"></script>
{% endblock %}

