{% extends "container.html" %}

{% block head %}
{% load staticfiles %}
    <title>Exercises</title>
{% endblock %}

{% block container %}

{% if user.is_authenticated %}
    {% if exercise_list %}
        <h1>Exercises:</h1>
        <ul>
        {% for exercise in exercise_list %}
            <li>
                <a href="{% url 'AthleticTeamApp:ShowExercise' exercise.id %}">
                    {{ exercise.name}}
                </a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <h1>No exercises are available.</h1>
    {% endif %}
    {% load filters %}
    {% if request.user|has_group:"Coaching Staff Member" %}
        <br>
        <a type="button" class="btn btn-default" aria-label="Create Exercise" href="{% url 'AthleticTeamApp:CreateExercise' %}">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create
        </a>
        <hr>
    {% endif %}
{% else %}
    <h2>Not authorized</h2>
{% endif %}

{% endblock %}