{% extends "container.html" %}

{% block head %}
    <title>Edit Players</title>
{% endblock %}

{% block container %}
<h1>Players</h1>
<p><b>Choose a player to delete/edit</b></p>
    <form action="{% url 'AthleticTeamApp:edit_a_player' %}" method="post">
        <!-- delete one of ur players -->
        {% csrf_token %}
        <select name="player">
        {% for player in players_list %}
            <option value="{{ player.id }}">
            {{ player.first_name}} {{ player.last_name}} 
            </option>
        {% endfor %}
        </select>
        
        <div class = "margin-top-small" >
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            <input type="submit" name="delete" value="Delete Player" class="btn btn-success" />
            <input type="submit" name="edit" value="Edit Player" class="btn btn-success" />
	   </div>
    </form>

    <div class="margin-top-small">
        <form action="{% url 'AthleticTeamApp:players_teams'  %}" method="get">
            {% csrf_token %}   
            <input type="submit" name="submit" value="Move Players To Team" class="btn btn-success" />
        </form>
    </div>
{% endblock %}

