{% extends "container.html" %}

{% block head %}
{% load staticfiles %}
<title>Edit a Player</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/carousel.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.timepicker.css' %}" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}


{% block container %}
    <h1>Edit {{player.first_name}} {{player.last_name}}</h1>
    <h3>Enter New Player Fist Name</h3>

    <form action="{% url 'AthleticTeamApp:edit_player' player.id %}" method="post">
        {% csrf_token %}
        
        <input value={{player.first_name}} type="text" class="text_title" id="my_text_title" name="first_name"/>
        <br />
        
    
    <h3>Enter New Player Last Name</h3>
    <input  value={{player.last_name}} type="text" class="text_title" id="my_text_title" name="last_name"/>
    <h3>Enter New Player Primary Position</h3>
    <select  name="thesi" value="{{player.primary_position}}" size ="5" selected="selected">
	  <option> 
	      PG
	  </option>
	  <option> 
	      SG
	  </option>
	  <option> 
	      SF
	  </option>	  
	  <option> 
	      PF
	  </option>	  
	  <option> 
	      C
	  </option>	  
    </select>
    <h3>Enter New Player Secondary Positions(Ctrl + click for multiple selection)</h3>
    <select multiple='multiple' name="secondary_positions" value="{{player.get_secondary_positions_display}" size ="5" >
	  <option> 
	      PG
	  </option>
	  <option> 
	      SG
	  </option>
	  <option> 
	      SF
	  </option>	  
	  <option> 
	      PF
	  </option>	  
	  <option> 
	      C
	  </option>
    </select>	  
    <!--<input  value={{player.primary_position}} type="text" class="text_title" id="my_text_title" name="primary_postition"/>
    <h3>Enter New Player Secondary Positions</h3>
    <input  value={{player.secondary_positions}} type="text" class="text_title" id="my_text_title" name="secondary_postitions"/>-->
    <h3>Enter New Player Number</h3>
    <input  value={{player.number}} type="text" class="text_title" id="my_text_title" name="number"/>
    <h3>Enter New Player Height</h3>
    <input  value={{player.height}} type="text" class="text_title" id="my_text_title" name="height"/>
    <h3>Enter New Player Weight</h3>
    <input  value={{player.weight}} type="text" class="text_title" id="my_text_title" name="weight"/>
    <h3>Enter New Player Nationality</h3>
    <input  value={{player.nationality}} type="text" class="text_title" id="my_text_title" name="nationality"/>
    <h3>Enter Birth Date</h3>
    <input type="text" id="datepicker" name="date" value = {{player.birth_date}} />
    </br>
    <input type="submit" name="submit" value="Submit" class="btn btn-success" />
    </form>
    <br />
{% endblock %}

{% block scripts %}
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript" src="{% static 'js/myscript.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.timepicker.js' %}"></script>
{% endblock %}