{% extends "container.html" %}

{% block head %}
{% load staticfiles %}
  <title>Edit announcement</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
  <script type="text/javascript" src="{% static 'js/myscript.js' %}"></script> 
{% endblock %}

{% block container %}
    <h1>Edit {{player.first_name}} {{player.last_name}}</h1>
    {% for team in teams %}
      <h3>{{team.team_name}}</h3>
    {% endfor %}  
    <h3>Choose new team</h3> 
    <hr>
    {% csrf_token %}
    <select name="team">
      {% for team in team_players_list %}
	<option value="{{ teams.id }}">
	  {{ team.team_name}}
	</option>
      {% endfor %}
    </select>
    <h3>Enter New Player Fist Name</h3>

    <form action="{% url 'AthleticTeamApp:edit_player' player.id %}" method="post">
        {% csrf_token %}
        
        <input value={{player.first_name}} type="text" class="text_title" id="my_text_title" name="first_name"/>
        <br />
        
    
    <h3>Enter New Player Last Name</h3>
    <input  value={{player.last_name}} type="text" class="text_title" id="my_text_title" name="last_name"/>
    <h3>Enter New Player Primary Position</h3>
    <input  value={{player.primary_position}} type="text" class="text_title" id="my_text_title" name="primary_postition"/>
    <h3>Enter New Player Secondary Positions</h3>
    <input  value={{player.secondary_positions}} type="text" class="text_title" id="my_text_title" name="secondary_postitions"/>
    <h3>Enter New Player Number</h3>
    <input  value={{player.number}} type="text" class="text_title" id="my_text_title" name="number"/>
    <h3>Enter New Player Height</h3>
    <input  value={{player.height}} type="text" class="text_title" id="my_text_title" name="height"/>
    <h3>Enter New Player Weight</h3>
    <input  value={{player.weight}} type="text" class="text_title" id="my_text_title" name="weight"/>
    <h3>Enter New Player Nationality</h3>
    <input  value={{player.nationality}} type="text" class="text_title" id="my_text_title" name="nationality"/>
    <input type="submit" name="submit" value="Submit" class="btn btn-success" />
    </form>
    <br />
{% endblock %}

    secondary_positions = models.CharField(max_length=30, blank=True)
    number