{% extends "container.html" %}
{% block container %}
{% if players_list%}
    <ul>
    <h2> Players</h2>
    {% for player in players_list %}
        <li><a href="{% url 'AthleticTeamApp:ShowPlayer' player.id %}">{{ player.first_name}}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No players are available.</p>
{% endif %}
    <form action="{% url 'AthleticTeamApp:edit_players'  %}" method="get">
        {% csrf_token %}   
        <input type="submit" name="submit" value="Edit Players" class="btn btn-success" />
    </form>
        <form action="{% url 'AthleticTeamApp:create_player'  %}" method="get">
        {% csrf_token %}   
	<input type="submit" name="submit" value="Create New Player" class="btn btn-success" />
    </form>  
{% endblock%}