{% extends "container.html" %}

{% block head %}
    <title>ShowAll</title>
{% endblock %}

{% block container %}
{% if players_list%}
    <h2> Players</h2>
    <table class="table table table-hover">
            <tr>
             <div class="row top-buffer">
         <td><div class="col-md-0">#</div></td>
         <td><div class="col-md-0">Image</div></td>
                 <td><div class="col-md-1">First Name</div></td>
                 <td><div class="col-md-2">Last Name</div></td>
                 <td><div class="col-md-3">Team</div></td>
                 <td><div class="col-md-4">Birth Date</div></td>
                 <td><div class="col-md-5">Height</div></td>
                 <td><div class="col-md-6">Position</div></td>
                 <td><div class="col-md-7">Nationality</div></td>
            </tr>
    {% for player in players_list %}
            <tr>
                <div class="row top-buffer">
                    <td><div class="col-md-0">{{ player.number}}</div></td>
                    <td><div class="col-md-0"> <img src={{ player.image.url }} class="img-rounded" height="100" width="100"></div></td>
                    <td><div class="col-md-1"><a href="{% url 'AthleticTeamApp:ShowPlayer' player.id %}">{{ player.first_name }}</div></td>
                    <td><div class="col-md-2"><a href="{% url 'AthleticTeamApp:ShowPlayer' player.id %}">{{ player.last_name }}</div></td>
                    <td><div class="col-md-2"><a href="{% url 'AthleticTeamApp:ShowTeam' player.team.id %}">{{ player.team }}</div></td>
                    <td><div class="col-md-4">{{ player.birth_date }}</div></td>
                    <td><div class="col-md-5">{{ player.height }}</div></td>
                    <td><div class="col-md-6">{{ player.primary_position }}</div></td>
                    <td><div class="col-md-7">{{ player.nationality}}</div></td>
                </div>
            </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No players are available.</p>
{% endif %}

    {% load filters %}
    {% if request.user|has_group:"Match Creator" %}
        <hr/>
        <form action="{% url 'AthleticTeamApp:edit_players'  %}" method="get">
            {% csrf_token %}   
            <input type="submit" name="submit" value="Edit Players" class="btn btn-success" />
        </form>
        <div class="margin-top-small">
            <form action="{% url 'AthleticTeamApp:create_player'  %}" method="get">
                {% csrf_token %}   
                <input type="submit" name="submit" value="Create New Player" class="btn btn-success" />
            </form>
        </div>
    {% endif %}
{% endblock%}
