{% extends "container.html" %}

{% block head %}
{% load staticfiles %}
<title>Players</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/carousel.css' %}" />
{% endblock %}


{% block container %}
<h2>Player : {{ player.first_name }} {{ player.last_name }}</h2>
<ul>
{% for name, value in player.get_fields %}
  {% if value %}
    {% if name == 'image' %}
        <li><img src={{ player.image.url }}></li>
    {% else %}
        <li>{{ name }} = {{ value }}</li>
    {% endif %}
  {% endif %}
{% endfor %}
</ul>


<div class="button-rov">
    <a class="btn btn-primary " href="{% url 'AthleticTeamApp:index_ranking' player.id %}">Rank this player</a>
</div>


<div class="button-rov">
    <form action="{% url 'AthleticTeamApp:view_rank_player' player.id %}" method="get">
        <input type="submit" name="submit" value="Show rate of this player" class="btn btn-primary " />
    </form>
</div>
{% endblock %}

